body {
  color: #000000;
  background-color: #b49478;
  font-family: monospace;
  max-width: 960px;
  margin: 1rem auto;
  padding: 0 1rem;
}

h1 {
  /*font-size: x-large;*/
  font-weight: bold;
  text-align: center;
}

section h1 { border-top: 2px dotted rgb(124,88,68); text-align: center; position: relative; margin: 1.75rem 0 0; }
section h1 span { position: relative; top: -.7em; background: rgb(179,147,120); display: inline-block; padding: 0 1rem; }


img#logo {
  margin: 1rem auto;
  display: block;
  image-rendering: pixelated;
}

section div {
  color: #e8e8c8;
  background-color: #000000;
  border-width: 2px;
  border-style: solid;
  border-color: #7c5844 #e8e8c8 #e8e8c8 #7c5844;
  margin: auto;
  padding: 1rem;
}

section div :first-child {
  margin-top: 0;
}

section div :last-child {
  margin-bottom: 0;
}

a {
  color: #fcfc54;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code, pre {
  font: inherit;
  color: #449848;
  margin: 1rem;
}
